@import "../_variables.scss";
.editModalBox_content {
  box-shadow: 0 1px 11px 10px $second-color;
  .modal-header {
    border-bottom: 1px solid $second-color;
  }
  .modal-body {
    border-bottom: 1px solid $second-color;
  }
  fieldset {
    border: 1px solid blue !important ;
  }
  textarea {
    &:focus {
      outline-width: 0;
    }
  }
}
