@import "../variables";
.home {
  .time_date {
    font-family: monospace;
  }

  .stuts {
    font-size: 14px;
    cursor: context-menu;
  }

  &_cards {
    .cardItem {
      width: 290px;

      @media (max-width: $size-xs) {
        width: 350px;
      }
    }
  }
}
